<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Blackbird Disable Reports Module
 *
 * NOTICE OF LICENSE
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@bird.eu so we can send you a copy immediately.
 *
 * @category    Blackbird
 * @package     Blackbird_DisableReports
 * @copyright   Copyright (c) 2018 Blackbird (https://black.bird.eu)
 * @author      Blackbird Team
 * @license     MIT
 * @support     help@bird.eu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Blackbird_DisableReports" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Reports" />
            <module name="Magento_Logging" />
        </sequence>
    </module>
</config>
